.itemCard {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  list-style: none;
  border-radius: 2px;
}

@media (prefers-color-scheme: light) {
  .itemCard {
    box-shadow: 4px 4px;
  }
}

.itemCard h2 {
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  max-width: 85%;
}

.itemCard p {
  margin-top: 1rem;
}

.website {
  float: right;
}
