.filter {
  background-color: rgba(var(--card-rgba));
  padding: 1rem;
  border-radius: var(--border-radius);
}

@media (prefers-color-scheme: light) {
  .filter {
    box-shadow: 4px 4px;
  }
}

.filter p:first-child {
  display: inline-block;
}

.filter p {
  margin-bottom: 0.5rem;
  line-height: 2rem;
}

.filter p:last-child {
  margin-bottom: 0;
}

.moreFilters {
  border: unset;
  float: right;
  cursor: pointer;
}
