.filter {
  background-color: rgba(var(--card-rgba));
  padding: 1rem;
  margin-top: 1rem;
  border-radius: var(--border-radius);
  box-shadow: var(--card-box-shadow);
}

.filter p:first-child {
  display: inline-block;
}

.filter p {
  margin-bottom: 0.5rem;
  line-height: 2rem;
}

.filter p:last-child {
  margin-bottom: 0;
}

.moreFilters {
  border: unset;
  float: right;
}
