.main {
  padding: 1rem;
  max-width: var(--max-width);
  min-height: 100vh;
  margin: auto;
}

.header {
  max-width: var(--max-width);
  margin: auto;
}

.info {
  margin-top: 4rem;
}

.info dt {
  margin-top: 1.5rem;
  font-weight: 600;
}

.info dd {
  margin: 0.5rem 0;
}

.info dt .aigenerated {
  font-weight: normal;
}

.website {
  display: inline-block;
}
