.sectionTitle {
  margin-top: 3rem;
  padding: 0.4rem 1rem;
  background-color: rgba(var(--card-rgba));
  border-radius: var(--border-radius);
  box-shadow: var(--card-box-shadow);
}

.noResults {
  padding: 1rem;
  text-align: center;
  margin: 5rem 0;
}

.noResults a {
  text-decoration: underline;
}
